<div class="config-group">
  <div class="config-title">Camera</div>
  <div class="config-container">
    <div (click)=changeCamera(CameraTypeEnum.StaticCamera) 
    class="config-select" 
    [class.selected]="currentCameraType==CameraTypeEnum.StaticCamera">
      Static camera
    </div>
  </div>
  <div class="config-container">
    <div (click)=changeCamera(CameraTypeEnum.FirstPersonCamera) 
    class="config-select"
    [class.selected]="currentCameraType==CameraTypeEnum.FirstPersonCamera">
      First person camera
    </div>
  </div>
  <div class="config-container">
    <div (click)=changeCamera(CameraTypeEnum.ThirdPersonCamera) 
    class="config-select"
    [class.selected]="currentCameraType==CameraTypeEnum.ThirdPersonCamera">
      Third person camera
    </div>
  </div>
    <div class="config-container">
      <div (click)=changeCamera(CameraTypeEnum.FollowingCamera) 
      class="config-select"
      [class.selected]="currentCameraType==CameraTypeEnum.FollowingCamera">
      Following camera
    </div>
  </div>
</div>

<div class="config-group">
  <div class="config-title">Terrain</div>
  <table>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><label for="terrainSeed">Seed</label></td>
      <td>
        <input type="number" 
        class="form-control config-input" 
        id="terrainSeed" 
        name="terrainSeed"  
        [(ngModel)]="terrainSeed" 
        required min="0">
      </td>
    </tr>
    <tr>
      <td><label for="terrainOctave1">First octave</label></td>
      <td>
          <input type="number" 
          class="form-control config-input" 
          id="terrainOctave1" 
          name="terrainOctave1" 
          [(ngModel)]="terrainOctave1" 
          required step="0.001" min="0" max="1">
      </td>
    </tr>
    <tr>
      <td><label for="terrainOctave2">Second octave</label></td>
      <td>
          <input type="number" 
          class="form-control config-input" 
          id="terrainOctave2" 
          name="terrainOctave2" 
          [(ngModel)]="terrainOctave2" 
          required step="0.001" min="0" max="1">
      </td>
    </tr>
    <tr>
      <td><label for="terrainOctave3">Third octave</label></td>
      <td>
        <input type="number"
          class="form-control config-input"
          id="terrainOctave3"
          name="terrainOctave3" 
          [(ngModel)]="terrainOctave3" 
          required step="0.001" min="0" max="1">
      </td>
    </tr>
    <tr>
      <td><label for="terrainOctave4">Fourth octave</label></td>
      <td>
        <input type="number"
          class="form-control config-input"
          id="terrainOctave4"
          name="terrainOctave4"
          [(ngModel)]="terrainOctave4"
          required step="0.001" min="0" max="1">
      </td>
    </tr>
    <tr>
      <td><label for="terrainOctave5">Fifth octave</label></td>
      <td>
          <input type="number" 
          class="form-control config-input" 
          id="terrainOctave5" 
          name="terrainOctave5" 
          [(ngModel)]="terrainOctave5" 
          required step="0.001" min="0" max="1">
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-success config-submit" (click)=terrainFormSubmit()>Rerender</button>
</div>

<div class="config-group">
  <div class="config-title">Plane Shader</div>
  <div class="config-container">
    <div class="config-select" 
    (click)=applyShading(ShadingModelEnum.Default) 
    [class.selected]="currentShadingModel==ShadingModelEnum.Default">
      Default Shading Model
    </div>
  </div>
<div class="config-container">
  <div class="config-select" 
  (click)=applyShading(ShadingModelEnum.Gouraud) 
  [class.selected]="currentShadingModel==ShadingModelEnum.Gouraud">
    Gouraud Shading Model
  </div>
</div>
  <div class="config-container">
  <div class="config-select" 
  (click)=applyShading(ShadingModelEnum.Phong) 
  [class.selected]="currentShadingModel==ShadingModelEnum.Phong">
    Phong Shading Model
  </div>
</div>
</div>

<div class="config-group">
  <div class="config-title"> Terrain model</div>
  <div class="config-container">
    <div (click)=applyTerrainStyle(TerrainRenderTypeEnum.LambertDefault)  
    class="config-select" 
    [class.selected]="terrainRenderType==TerrainRenderTypeEnum.LambertDefault">
      Default (THREE.JS Lambert)
    </div>
  </div>
  <div class="config-container">
    <div (click)=applyTerrainStyle(TerrainRenderTypeEnum.GradientPlain)  
    class="config-select" 
        [class.selected]="terrainRenderType==TerrainRenderTypeEnum.GradientPlain">
      Textured model withoud shading
    </div>
  </div>
  <div class="config-container">
    <div (click)=applyTerrainStyle(TerrainRenderTypeEnum.PhongCustom)  
    class="config-select" 
    [class.selected]="terrainRenderType==TerrainRenderTypeEnum.PhongCustom">
      Shader with Phong reflection model
    </div>
  </div>
  <div class="config-container">
    <div (click)=applyTerrainStyle(TerrainRenderTypeEnum.BlinnCustom)  
    class="config-select" 
        [class.selected]="terrainRenderType==TerrainRenderTypeEnum.BlinnCustom">
      Shader with Blinn reflection model
    </div>
  </div>
</div>


<div class="config-group">
  <div class="config-title">Environment</div>
    <div class="config-container">
      <div class="config-select" [class.selected]="environmentConfig.rainVisible">
        <input type="checkbox" 
        [(ngModel)]="environmentConfig.rainVisible" 
        (change)="changeEnvironment(EnviromentElementChangedEnum.Rain)">
        Snow
    </div>
  </div>
    <div class="config-container">
    <div class="config-select" [class.selected]="environmentConfig.sunVisible">
        <input type="checkbox" 
        [(ngModel)]="environmentConfig.sunVisible" 
        (change)="changeEnvironment(EnviromentElementChangedEnum.Sun)">
        Sun
    </div>
    </div>
    <div class="config-container">
      <div class="config-select" [class.selected]="environmentConfig.fogVisible">
        <input type="checkbox" 
        [(ngModel)]="environmentConfig.fogVisible" 
        (change)="changeEnvironment(EnviromentElementChangedEnum.Fog)">
        Fog
    </div>
  </div>
</div>