.config-group {
    display: block;
}
.config-title {
    padding: 10px;
    font-size: 20px;
    font: bold;
}
.config-select {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    clear: both;
    background: white;
}
.selected {
    background:lime !important;
}
.config-container {
    margin:5px;
}
.config-input{
    width: 70px
}
.config-submit {
    width: 70px

}