<div class="menu-panel">
  <app-menu *ngIf="menuVisible" 
    (CameraTypeChanged)="changeCamera($event)"
    (RequiredTerrainRerender)="renderTerrain($event)"
    (ChangeShadingModel)="changeShadingModel($event)"
    (ChangeEnviromentElement)="changeEnvironment($event)"
    (ChangeTerrainRenderType) ="changeTerrainRenderType($event)">
  </app-menu>
</div>
<div #canvas [class.collapsed-canvas]="menuVisible">
  <div class="menu-button" (click)="menuVisible=!menuVisible">Menu</div> 
</div>

