.menu-button {
    position: absolute; 
    bottom: 0px;
    left: 70px;
    width: 150px; 
    height: 40px; 
    background: violet;
    font:bold;
    font-size: 40px;
    text-align: center;
    border-radius: 20px;
    border: solid purple 2px
}
#canvas {
    position: relative;
}
.menu-panel{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background: gray;
    border-radius: 10px;
    border: solid black 2px;
    height: 100%;
    position: absolute; 
}